main{
  background-color: var(--color-blue-900);
}

/* The device with borders */
.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px solid var(--color-grey-800);
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-grey-400);
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: var(--color-grey-400);
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 640px;
  background: var(--color-white-100);
}

.content{
  max-width: 100%;
  margin: auto;
}

/* -----STYLE CHAT BOX----- */

/* Chat containers */
.container {
  width: 78%;
  border: 2px solid var(--color-grey-200);
  background-color: hsla(182, 25%, 50%, 0.41);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 10px;
  text-align: end;

  cursor: default;
}

/* Darker chat container */
.cinema {
  background-color: rgba(163, 162, 162, 0.24);

  text-align: start;
  margin-left: auto;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 50%;

  letter-spacing: 1px;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: rgb(85, 139, 141);
}

.time-left {
  float: left;
  color: rgb(145, 143, 143);
}


/* ------- STYLE FOR HOME BUTTON ------- */

.homebtn{
  width: max-content;
  margin: auto;
}

.contact_us{
  text-decoration: none;
}

.homebtn_item{
  background-color: var(--color-yellow-600);
  border-radius: 6px;
  padding: 18px;
  color: var(--color-grey-800);
  
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.homebtn_item:hover{
  background-color: var(--color-blue-900);
  color: var(--color-white-100);
}
